@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl text-font
}

h2 {
  @apply text-4xl text-font
}

h3 {
  @apply text-3xl text-font font-medium
}

html {
  overflow-y: auto; 
  overscroll-behavior-y: none;
  @apply bg-background 
}

.border-y-2 {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.pastprediction-hover:hover h3{
  color: white;
}

.pastprediction-hover:hover .risk-score{
  color: white;
}

span {
  @apply text-font
}

.graph-border {
  @apply border rounded-lg border-[#C5C5C5] w-full p-6
}

.popup-container {
  border: 5px solid #FFF;
  background: linear-gradient(180deg, #e5edff -35.05%, #FFF 99.97%);
}

.popup-container::backdrop {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.75) 0%, rgba(115, 115, 115, 0.75) 100%);
}

.navbar-button:hover div {
  @apply w-full
}

.custom-width {
  width: 10.666667%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

.custom-hover:hover {
  --tw-scale-x: 1.025;
  --tw-scale-y: 1.025;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
